@import "_universal_variable";
@import "_universal_style";
#main_banner {
  margin: auto;
  position: relative;
}
#instruction {
  margin: auto;
  position: relative;
  justify-content: center;
  font-size: em(25);
  .instruction_text{
    font-size: em(30);
    @media only screen and (max-width: $sm) {
      font-size: em(20);
      padding: 15px;
    }
    }
  ul {
    list-style: none;
    padding: 0;
  }
}
form {
  text-align: center;
}
.inputContainer {
  color: $pink;
  font-size: em(40);
  margin: 15px auto;

  .input {
    width: 50%;
    border: 1px solid $grey;
    @media only screen and (max-width: $sm) {
      width: 90%;
    }
  }
  label {
    font-size: em(24);
  }
  &:focus {
    outline: $light_pink;
  }
  .error {
    white-space: pre-wrap;
  }

}
.button {
  font-size: em(30);
  background-color: $main_color;
  padding: 15px 30px;
  color: $white;
  cursor: pointer;
  max-width: 50%;
  margin-top: 50px;

  &:hover {
    background-color: $light_pink;
  }
}
.headers_container{
  margin: auto;
  h1{
    padding: 0 15px;
  }
}
.icon_container {
  position: absolute;
  bottom: em(5);
  left: 50%;
  transform: translateX(-50%);
  font-size: em(50);
  color: $main_color;
  cursor: pointer;
}

#main_gallery {
  padding: 50px 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}



.input_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: em(40);

  @media only screen and (max-width: $sm) {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    div {
      padding: 15px 0;
    }
  }
  div {
    input {
      border: 1px solid $grey;
    }
  }

  }

#footer {
  position: relative;
  .icon_container {
    top: em(5);
  }
  a {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: em(40);

  }
}
