@import "_universal_variable";
@import "_universal_style";
#main_banner {
  margin: auto;
  position: relative;
}
form {
  text-align: center;
}
.inputContainer {
  color: $pink;
  font-size: em(50);
  margin: 15px auto;

  label {
    font-size: em(24);
  }
  &:focus {
    outline: $light_pink;
  }

}
.button {
  font-size: em(30);
  background-color: $main_color;
  padding: 15px 30px;
  color: $white;
  cursor: pointer;
  max-width: 80%;

  &:hover {
    background-color: $light_pink;
  }
}
.headers_container{
  margin: auto;
}
.icon_container {
  position: absolute;
  bottom: em(5);
  left: 50%;
  transform: translateX(-50%);
  font-size: em(50);
  color: $main_color;
  cursor: pointer;
}
.box {
  max-height: 350px;
  min-height: 350px;
  margin: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  cursor: pointer;

  &:hover {
    .box_description {
      height: 100%;
      transition: height 5s;
      .project_description {
        display: block;
        text-align: center;
        font-size: em(11);
        line-height: em(18);
      }
    }
  }
}
.box_description {
  position: absolute;
  background: $white;
  opacity: 0.8;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: $black;
  font-weight: bold;
  font-size: em(50);
  transition: height 5s;

  .project_description {
    display: none;
  }
}

#main_gallery {
  padding: 50px 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.squer_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}
.user_container {
  position: relative;
  font-size: em(100);
  text-align: center;
  color: $grey;
  &.active {
    color: $pink;
  }
  .icon_container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    p{
      font-size: em(10);
    }

    @media only screen and (max-width: $sm) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      padding: 15px 0;
    }
  }
}
.squer {
  background-color: $lighter_pink;
  color: $white;
  border: 1px solid $pink;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: $light_pink;
  }
  &.active {
    background-color: $light_pink;
    font-size: 75px;
    @media only screen and (max-width: $sm) {
      font-size: 45px;
    }

    .sign {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  .layer {
    background-color: $grey;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  .box_info {
    background-color: $white;
    color: $pink;
    padding: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: em(100);
    transform: translateX(-50%) translateY(-50%);

    .icon {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: em(5);
      color: $pink;
      cursor: pointer;
    }
  }
}
.input_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: em(40);

  @media only screen and (max-width: $sm) {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    div {
      padding: 15px 0;
    }
  }
  div {
    input {
      border: 1px solid $grey;
    }
  }

  }
#point_table {
  text-align: center;
  justify-content: space-between;
  padding: 15px;

  .one_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 1px solid $pink;
    font-size: em(50);

    div {
      padding: 15px;
    }
  }
}
#footer {
  position: relative;
  .icon_container {
    top: em(5);
  }
  a {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: em(40);

  }
}
